[user]
	name = pinzolo
	email = pinzolo@gmail.com
[core]
	quotepath = false
	editor = vim
	excludesfile = /Users/pinzolo/.gitignore
	precomposeunicode = true
[color]
	ui = auto
[alias]
	co = checkout
	cm = commit
	st = status
	br = branch
	hist = log --pretty=format:\\\"%h %ad | %s%d [%an]\\\" --graph --date=short
	mr = merge
[merge]
	ff = true
[push]
	default = current
