[user]
	name = pinzolo
	email = pinzolo@gmail.com
[core]
	quotepath = false
	editor = vim
	excludesfile = /Users/pinzolo/.gitignore
	precomposeunicode = true
	attributesfile = /Users/pinzolo/.gitattributes
[color]
	ui = auto
[alias]
	co = checkout
	cm = commit
	st = status
	br = branch
	graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset' --abbrev-commit --date=short
	mr = merge
[merge]
	ff = false
[push]
	default = current
