[user]
	name = pinzolo
	email = pinzolo@gmail.com
[core]
	quotepath = false
	editor = vim
	excludesfile = /Users/pinzolo/.gitignore
	precomposeunicode = true
	attributesfile = /Users/pinzolo/.gitattributes
[color]
	ui = auto
[alias]
	co = checkout
	cm = commit
	st = status --branch --short
	br = branch
	graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset' --abbrev-commit --date=short
	mr = merge
	gr = grep --line-number --show-function --color --heading --break
[merge]
	ff = false
[push]
	default = current
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
